#square { 
    color: white;
    height: 100px;
    width: 100px;
    border: 1px solid grey;
}

/* .whiteFillColor {
    background-color: white;
}

.blackFillColor {
    background-color: black;
} */